body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans";
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff2") format("woff2"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Extrabold.eot");
  src: url("../fonts/OpenSans-Extrabold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Extrabold.woff2") format("woff2"), url("../fonts/OpenSans-Extrabold.woff") format("woff"), url("../fonts/OpenSans-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.eot");
  src: url("../fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff"), url("../fonts/OpenSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
h1 {
  font-size: 115px;
  line-height: 138px;
  font-weight: 700;
}

h2 {
  font-size: 80px;
  line-height: 96px;
  font-weight: 700;
  color: #191923;
}

a {
  text-decoration: none;
}

p {
  font-weight: normal;
  color: #191923;
}
p.primary {
  font-size: 29px;
  line-height: 45px;
}
p.secondary {
  font-size: 20px;
  line-height: 24px;
}

.button-primary {
  height: 90px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  background: #26d696;
  color: #191923;
  padding: 0 40px;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
}
.button-primary:hover {
  color: #191923;
}

.main-wrapper {
  width: 100%;
  height: auto;
  position: relative;
}

.header-section header {
  width: 100%;
  height: 100vh;
  background: url(../img/header-img.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  padding: 50px;
}
.header-section header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: rgba(25, 25, 35, 0.6);
  left: 0;
  top: 0;
}
.header-section header nav {
  width: calc(100% - 100px);
  position: absolute;
  z-index: 9;
}
.header-section header nav .site-logo {
  width: 130px;
}
.header-section header nav .social-icon {
  width: 36px;
  height: 36px;
}
.header-section header .section-content {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.header-section header .section-content .section-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.about-section {
  padding: 130px 0 10px;
}
.about-section .section-content .section-video {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  height: 749px;
  margin-top: 110px;
  z-index: 2;
}
.about-section .section-content .section-video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-section .section-content .section-video:hover .vid-controls .vid-control {
  opacity: 1;
}
.about-section .section-content .section-video .vid-controls {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.about-section .section-content .section-video .vid-controls .vid-control {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.2s;
  background: rgba(25, 25, 35, 0.3);
  cursor: pointer;
  opacity: 0;
}
.about-section .section-content .section-video .vid-controls .vid-control img {
  width: 192px;
  height: 192px;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-section .section-content .section-video .vid-controls .vid-control.active {
  display: flex;
}

.app-section {
  padding: 150px 0;
}
.app-section .section-content .section-text p {
  font-size: 34px;
  line-height: 40px;
  font-weight: 600;
}
.app-section .section-content .section-text h3 {
  font-size: 48px;
  line-height: 57px;
  font-weight: 700;
  color: #26d696;
}

.cards-section {
  padding: 150px 0;
  background: #ebeaf0;
}
.cards-section .section-content .section-cards {
  margin-top: 200px;
}
.cards-section .section-content .section-cards .row {
  -moz-column-gap: 84px;
       column-gap: 84px;
}
.cards-section .section-content .section-cards .section-card-con {
  width: calc(33.33% - 56px);
}
.cards-section .section-content .section-cards .section-card-con._1, .cards-section .section-content .section-cards .section-card-con._3 {
  margin-top: 204px;
}
.cards-section .section-content .section-cards .section-card-con .section-card {
  border-radius: 55px;
  overflow: hidden;
  background: #fff;
  height: 909px;
  box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 84px;
  position: relative;
  z-index: 2;
}
.cards-section .section-content .section-cards .section-card-con .section-card::before {
  content: "";
  width: 43%;
  height: 27px;
  border-radius: 0 0 30px 30px;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.cards-section .section-content .section-cards .section-card-con .section-card.purp::before {
  background: #d487ff;
}
.cards-section .section-content .section-cards .section-card-con .section-card.purp .card-text {
  background: #d487ff;
}
.cards-section .section-content .section-cards .section-card-con .section-card.purp .card-text h3 {
  color: #fff;
}
.cards-section .section-content .section-cards .section-card-con .section-card.green::before {
  background: #26d696;
}
.cards-section .section-content .section-cards .section-card-con .section-card.green .card-text {
  background: #26d696;
}
.cards-section .section-content .section-cards .section-card-con .section-card.green .card-text h3 {
  color: #fff;
}
.cards-section .section-content .section-cards .section-card-con .section-card.dark::before {
  background: #191923;
}
.cards-section .section-content .section-cards .section-card-con .section-card.dark .card-text {
  background: #191923;
}
.cards-section .section-content .section-cards .section-card-con .section-card.dark .card-text h3.green {
  color: #26d696;
}
.cards-section .section-content .section-cards .section-card-con .section-card.dark .card-text h3.purp {
  color: #d487ff;
}
.cards-section .section-content .section-cards .section-card-con .section-card.dark .card-text p {
  color: #fff;
}
.cards-section .section-content .section-cards .section-card-con .section-card.light::before {
  background: #fff;
}
.cards-section .section-content .section-cards .section-card-con .section-card.light .card-text {
  background: #fff;
}
.cards-section .section-content .section-cards .section-card-con .section-card.light .card-text h3 {
  color: #26d696;
}
.cards-section .section-content .section-cards .section-card-con .section-card .card-img {
  height: 65%;
}
.cards-section .section-content .section-cards .section-card-con .section-card .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.cards-section .section-content .section-cards .section-card-con .section-card .card-text {
  height: 35%;
  padding: 45px 40px;
}
.cards-section .section-content .section-cards .section-card-con .section-card .card-text h3 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.cards-section .section-content .section-cards .section-card-con .section-card .card-text p {
  font-weight: 600;
}

footer {
  background: #ebeaf0;
}
footer .section-content h3 {
  font-size: 34px;
  line-height: 40px;
}
footer .section-content .app-dnld-btns {
  margin-bottom: 200px;
}
footer .section-content .app-dnld-btns .app-dnld-btn {
  width: 216px;
}
footer .section-content .copyrights {
  border-top: 1px solid #b4b4b4;
  padding: 20px 0;
}
footer .section-content .copyrights a {
  color: #b4b4b4;
  font-size: 24px;
  font-weight: 28px;
}
footer .section-content .copyrights a:hover {
  color: #26d696;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 70px;
    line-height: 1.2;
  }
  h2 {
    font-size: 38px;
    line-height: 45px;
  }
  p.primary {
    font-size: 18px;
    line-height: 34px;
  }
  p.secondary {
    font-size: 12px;
    line-height: 16px;
  }
  .button-primary {
    height: 61px;
    padding: 0 40px;
    font-size: 18px;
    line-height: 24px;
  }
  .header-section header {
    height: 600px;
    padding: 36px;
    background-position: top;
  }
  .header-section header nav {
    width: calc(100% - 72px);
  }
  .header-section header nav .site-logo {
    width: 140px;
  }
  .header-section header nav .social-icon {
    width: 24px;
    height: 24px;
  }
  .about-section {
    padding: 65px 0 10px;
  }
  .about-section .section-container {
    padding: 0 60px;
  }
  .about-section .section-content .section-video {
    height: 430px;
    width: 100%;
    margin: auto;
    margin-top: 55px;
  }
  .app-section {
    padding: 60px 0;
  }
  .app-section .section-content .section-text p {
    font-size: 18px;
    line-height: 21px;
  }
  .app-section .section-content .section-text h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .cards-section {
    padding: 60px 0;
  }
  .cards-section .section-content .section-cards {
    margin-top: 100px;
  }
  .cards-section .section-content .section-cards .row {
    -moz-column-gap: 42px;
         column-gap: 42px;
  }
  .cards-section .section-content .section-cards .section-card-con {
    width: calc(33.33% - 28px);
  }
  .cards-section .section-content .section-cards .section-card-con._1, .cards-section .section-content .section-cards .section-card-con._3 {
    margin-top: 70px;
  }
  .cards-section .section-content .section-cards .section-card-con .section-card {
    border-radius: 26px;
    height: 446px;
    margin-bottom: 42px;
  }
  .cards-section .section-content .section-cards .section-card-con .section-card::before {
    height: 14px;
    border-radius: 0 0 17px 17px;
  }
  .cards-section .section-content .section-cards .section-card-con .section-card .card-text {
    padding: 15px;
  }
  .cards-section .section-content .section-cards .section-card-con .section-card .card-text h3 {
    font-size: 16px;
    line-height: 20px;
  }
  footer {
    background: #ebeaf0;
  }
  footer .section-content h3 {
    font-size: 20px;
    line-height: 24px;
  }
  footer .section-content .app-dnld-btns {
    margin-bottom: 100px;
  }
  footer .section-content .app-dnld-btns .app-dnld-btn {
    width: 170px;
  }
  footer .section-content .copyrights {
    padding: 16px 0;
  }
  footer .section-content .copyrights a {
    font-size: 16px;
    font-weight: 20px;
  }
}
@media (max-width: 992px) {
  p.primary {
    font-size: 16px;
    line-height: 30px;
  }
  p.secondary {
    font-size: 10px;
    line-height: 13px;
  }
  .button-primary {
    height: 61px;
    padding: 0 40px;
    font-size: 18px;
    line-height: 24px;
  }
  .button-primary:hover {
    color: #191923;
  }
  .header-section header {
    height: 700px;
    padding: 36px;
    background-position: top;
    background: url(../img/2_HeaderTablet_Vertical_703X687_RG.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header-section header nav {
    width: calc(100% - 72px);
  }
  .header-section header nav .site-logo {
    width: 140px;
  }
  .header-section header nav .social-icon {
    width: 24px;
    height: 24px;
  }
  .about-section {
    padding: 55px 0 10px;
  }
  .about-section .section-container {
    padding: 40px;
  }
  .about-section .section-content .section-video {
    height: 317px;
    margin-top: 55px;
  }
  .app-section {
    padding: 60px 0;
  }
  .app-section .section-content .section-text p {
    font-size: 18px;
    line-height: 21px;
  }
  .app-section .section-content .section-text h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .cards-section {
    padding: 60px 0;
  }
  .cards-section .section-content .section-cards {
    margin-top: 100px;
  }
  .cards-section .section-content .section-cards .row {
    -moz-column-gap: 36px;
         column-gap: 36px;
  }
  .cards-section .section-content .section-cards .section-card-con {
    width: calc(33.33% - 24px);
  }
  .cards-section .section-content .section-cards .section-card-con._1, .cards-section .section-content .section-cards .section-card-con._3 {
    margin-top: 64px;
  }
  .cards-section .section-content .section-cards .section-card-con .section-card {
    border-radius: 24px;
    height: 372px;
    margin-bottom: 36px;
  }
  .cards-section .section-content .section-cards .section-card-con .section-card::before {
    height: 12px;
    border-radius: 0 0 15px 15px;
  }
  .cards-section .section-content .section-cards .section-card-con .section-card .card-text {
    padding: 15px 12px;
  }
  .cards-section .section-content .section-cards .section-card-con .section-card .card-text h3 {
    font-size: 16px;
    line-height: 20px;
  }
  footer {
    background: #ebeaf0;
  }
  footer .section-content h3 {
    font-size: 20px;
    line-height: 24px;
  }
  footer .section-content .app-dnld-btns {
    margin-bottom: 100px;
  }
  footer .section-content .app-dnld-btns .app-dnld-btn {
    width: 130px;
  }
  footer .section-content .copyrights {
    padding: 14px 0;
  }
  footer .section-content .copyrights a {
    font-size: 14px;
    font-weight: 18px;
  }
}
@media (max-width: 482px) {
  h1 {
    font-size: 50px;
    line-height: 60px;
  }
  p.primary {
    font-size: 12px;
    line-height: 23px;
  }
  p.secondary {
    font-size: 10px;
    line-height: 13px;
  }
  .button-primary {
    height: 61px;
    padding: 0 40px;
    font-size: 18px;
    line-height: 24px;
  }
  .button-primary:hover {
    color: #191923;
  }
  .header-section header {
    height: 560px;
    padding: 36px;
    background-position: top;
    background: url(../img/4_HeaderMobile_414X560_RGB.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .about-section {
    padding: 55px 0 10px;
  }
  .about-section .section-container {
    padding: 0 20px;
  }
  .about-section .section-content .section-video {
    height: 343px;
    margin-top: 55px;
  }
  .about-section .section-content .section-video .vid-controls .vid-control img {
    width: 100px;
    height: 100px;
  }
  .app-section {
    padding: 60px 0;
  }
  .app-section .section-content .section-text p {
    font-size: 18px;
    line-height: 21px;
  }
  .app-section .section-content .section-text h3 {
    font-size: 24px;
    line-height: 28px;
  }
  .cards-section {
    padding: 60px 0;
  }
  .cards-section .section-content .section-cards {
    margin-top: 100px;
  }
  .cards-section .section-content .section-cards .row {
    -moz-column-gap: 36px;
         column-gap: 36px;
  }
  .cards-section .section-content .section-cards .section-card-con {
    width: calc(33.33% - 24px);
  }
  .cards-section .section-content .section-cards .section-card-con._1, .cards-section .section-content .section-cards .section-card-con._3 {
    margin-top: 64px;
  }
  .cards-section .section-content .section-cards .section-card-con .section-card {
    border-radius: 24px;
    height: 372px;
    margin-bottom: 36px;
  }
  .cards-section .section-content .section-cards .section-card-con .section-card::before {
    height: 12px;
    border-radius: 0 0 15px 15px;
  }
  .cards-section .section-content .section-cards .section-card-con .section-card .card-text {
    padding: 15px 12px;
  }
  .cards-section .section-content .section-cards .section-card-con .section-card .card-text h3 {
    font-size: 16px;
    line-height: 20px;
  }
  footer {
    background: #ebeaf0;
  }
  footer .section-content h3 {
    font-size: 20px;
    line-height: 24px;
  }
  footer .section-content .app-dnld-btns {
    margin-bottom: 100px;
  }
  footer .section-content .app-dnld-btns .app-dnld-btn {
    width: 130px;
  }
  footer .section-content .copyrights {
    padding: 14px 0;
  }
  footer .section-content .copyrights a {
    font-size: 14px;
    font-weight: 18px;
  }
}/*# sourceMappingURL=styles.css.map */